<header> <b>TinyApp</b> </header>

<% if(user && user.id){ %>
<form action="/logout" method="POST"> 
    <label> <%= user.id %> </label>
    <button>Logout</button>
</form>   
<% } %>

<a href="/register"> Register here! </a> <br>

<% if(!user){ %>
<a href="/login"> Login here! </a>
<% } %>
