<form action="/login" method="POST">
    <b>E-mail:</b><br>
    <input type="email" name="email"> <br><br>
    <b>Password:</b><br>
    <input type="password" name="password">
    <button>Submit</button>
</form>