<html leng="en">
<head>
    <title>TinyApp</title>
</head>
<body>
    <header>
        <% include partials/_header %>
    </header>
    <!-- Add EJS code here -->
    <%= shortURL %>
    <%= longURL %>
</body>
</html>