<html lang="en">
<head>
    <title>TinyApp</title>
</head>
<body>
    <header>
        <% include partials/_header %>
    </header> <br>
    
    <% for (key in urls) { %>
        <p><%= key %> --> <%= urls[key].longURL %> 
            <form method="POST" action="/urls/<%= key %>/delete">
                <button>delete</button>
                <a href="/urls/<%= key %>">edit</a>
            </form> 
        </p>
    <% } %> <br>

    <a href="/urls/new"> Get a new shortened URL here! </a>
</body>
</html>